.card1{
    width: 139px;
    height: 190px;
    background-image: url(cards.7e0a18f0.png);
    background-position: 140px;
    float: left;
}
.card2{
    width: 139px;
    height: 190px;
    background-image: url(cards.7e0a18f0.png);
    background-position-x: 0px;
    background-position-y: 787px;
    float: left;
}
.card3{
    width: 139px;
    height: 190px;
    background-image: url(cards.7e0a18f0.png);
    background-position-x: 283px;
    background-position-y: -1393px;
    float: left;
}
.card4{
    width: 139px;
    height: 190px;
    background-image: url(cards.7e0a18f0.png);
    background-position-x: -144px;
    background-position-y: 389px;
    float: left;
}
.card5{
    width: 139px;
    height: 190px;
    background-image: url(cards.7e0a18f0.png);
    background-position-x: 0px;
    background-position-y: 190px;
    float: left;
}