table{
    border-collapse:collapse;
}
th{
    border-style: dotted;
}
tr:nth-child(1){
    background-color: rgb(107, 107, 107);
}
tr:nth-child(2n+3){
    background-color: darkgrey;
}
tr:not(:nth-child(1)):hover{
    background-color: aquamarine;
}